<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/public.css">
    <link rel="stylesheet" href="/public/css/zzt_header.css">
    <link rel="stylesheet" href="/public/css/zzt_his.css">
    <link rel="stylesheet" href="/public/css/banner_list.css">
    <link rel="stylesheet" href="/public/css/ynn_join.css">
    <link rel="stylesheet" href="/public/css/lhh_contact.css">
    <link rel="stylesheet" href="/public/css/lhh_address.css">
    <link rel="stylesheet" href="/public/css/lx_story.css">
    <link rel="stylesheet" href="/public/css/ynn_footer.css">
</head>
<body>
<div id="page"></div>
</body>
<script src="/public/js/jquery.min.js"></script>
<script src="/public/js/aboutUs.js"></script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=570E1e7563f6e47308e7928f68f9b6d3"></script>
<script src="/public/js/baiduMap.js"></script>
</html>