<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>铁锅网</title>
    <link rel="stylesheet" href="/public/css/public.css">
    <link rel="stylesheet" href="/public/css/zq_product_list.css">
    <link rel="stylesheet" href="/public/css/banner_list.css">
    <link rel="stylesheet" href="/public/css/zzt_header.css">
    <link rel="stylesheet" href="/public/css/crumbs.css">
    <link rel="stylesheet" href="/public/css/list_hlj.css">
    <link rel="stylesheet" href="/public/css/zq_paging.css">
    <link rel="stylesheet" href="/public/css/lhh_contact.css">
    <link rel="stylesheet" href="/public/css/lhh_address.css">
    <link rel="stylesheet" href="/public/css/ynn_footer.css">
</head>
<style>
    .zq_con_box{
        width:1200px;
        min-height:100px;
        overflow: hidden;
        margin:0 auto;
    }
</style>
<body>
<div id="pageList"></div>
</body>
<script src="/public/js/list_product.js"></script>

</html>