<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/public/css/list_hlj.css">
    <link rel="stylesheet" href="/public/css/ynn_news.css">
    <link rel="stylesheet" href="/public/css/banner_list.css">
    <link rel="stylesheet" href="/public/css/lhh_address.css">
    <link rel="stylesheet" href="/public/css/lhh_contact.css">
    <link rel="stylesheet" href="/public/css/ynn_footer.css">
    <link rel="stylesheet" href="/public/css/zzt_header.css">
</head>
<body>
    <div id="show"></div>
</body>
<script src="/public/js/jquery.min.js"></script>
<script src="/public/js/show.js"></script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=570E1e7563f6e47308e7928f68f9b6d3"></script>
<script src="/public/js/baiduMap.js"></script>
</html>