<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>登录</title>
    <link rel="stylesheet" href="/public/css/antd.min.css">
</head>
<style>
    #login .login-form {
        max-width: 300px;
    }
    #login .login-form-forgot {
        float: right;
    }
    #login .login-form-button {
        width: 100%;
    }
    body{
        background:rgb(236,236,236);
    }
    .ant-btn.ant-btn-primary.ant-btn-lg.login-form-button{
        position: relative;
        z-index: 1000;
    }
</style>
<body>
    <div id="login"></div>
</body>
<script src="/public/js/fetch.js"></script>
<script src="/public/js/login.js"></script>
</html>