@charset "UTF-8";
@import url(public.css);
.lhh_contact_map {
  width: auto;
  height: auto;
}

.lhh_contact_map .lhh_map1 {
  width: auto;
  height: auto;
  float: left;
  margin-left: 80px;
  margin-top: 75px;
  margin-bottom: 75px;
}

.lhh_contact_map .lhh_map1 .lhh_map {
  width: 482px;
  height: 458px;
  border: 4px solid #a02024;
}

.lhh_contact_map .lhh_contact1 {
  width: auto;
  height: auto;
  float: left;
  margin-left: 75px;
  margin-top: 145px;
}

.lhh_contact_map .lhh_contact1 .lhh_index_contact {
  width: 543px;
  height: auto;
}

.lhh_contact_map .lhh_contact1 .lhh_index_contact .lhh_contact_header {
  width: 178px;
  height: 100px;
  margin-bottom: 75px;
  background: url("../images/lhh_contact.png") no-repeat center center;
}

.lhh_contact_map .lhh_contact1 .lhh_index_contact .lhh_contact_con {
  width: 100%;
  height: auto;
}

.lhh_contact_map .lhh_contact1 .lhh_index_contact .lhh_contact_con .lhh_contact_item {
  width: 33.3%;
  height: auto;
  float: left;
}

.lhh_contact_map .lhh_contact1 .lhh_index_contact .lhh_contact_con li:nth-child(1) .lhh_title {
  width: auto;
  height: 44px;
  background: url("../images/lhh_service.png") no-repeat center left;
  background-size: contain;
}

.lhh_contact_map .lhh_contact1 .lhh_index_contact .lhh_contact_con li:nth-child(1) ul {
  width: 100%;
  height: auto;
  overflow: hidden;
  padding-top: 20px;
}

.lhh_contact_map .lhh_contact1 .lhh_index_contact .lhh_contact_con li:nth-child(1) ul li {
  width: 33.3%;
  height: 30px;
}

.lhh_contact_map .lhh_contact1 .lhh_index_contact .lhh_contact_con li:nth-child(1) ul li a {
  display: block;
  font-size: 14px;
  color: #474646;
  font-family: "微软雅黑";
  line-height: 30px;
}

.lhh_contact_map .lhh_contact1 .lhh_index_contact .lhh_contact_con li:nth-child(1) ul li a:hover {
  color: #a02024;
}

.lhh_contact_map .lhh_contact1 .lhh_index_contact .lhh_contact_con li:nth-child(2) .lhh_title {
  width: auto;
  height: 44px;
  background: url("../images/lhh_support.png") no-repeat center left;
  background-size: contain;
}

.lhh_contact_map .lhh_contact1 .lhh_index_contact .lhh_contact_con li:nth-child(2) ul {
  width: 100%;
  height: auto;
  overflow: hidden;
  padding-top: 20px;
}

.lhh_contact_map .lhh_contact1 .lhh_index_contact .lhh_contact_con li:nth-child(2) ul li {
  width: 33.3%;
  height: 30px;
}

.lhh_contact_map .lhh_contact1 .lhh_index_contact .lhh_contact_con li:nth-child(2) ul li a {
  display: block;
  font-size: 14px;
  color: #474646;
  font-family: "微软雅黑";
  line-height: 30px;
}

.lhh_contact_map .lhh_contact1 .lhh_index_contact .lhh_contact_con li:nth-child(2) ul li a:hover {
  color: #a02024;
}

.lhh_contact_map .lhh_contact1 .lhh_index_contact .lhh_contact_con li:nth-child(3) .lhh_title {
  width: auto;
  height: 44px;
  background: url("../images/lhh_query.png") no-repeat center left;
  background-size: contain;
}

.lhh_contact_map .lhh_contact1 .lhh_index_contact .lhh_contact_con li:nth-child(3) ul {
  width: 100%;
  height: auto;
  overflow: hidden;
  padding-top: 20px;
}

.lhh_contact_map .lhh_contact1 .lhh_index_contact .lhh_contact_con li:nth-child(3) ul li {
  width: 33.3%;
  height: 30px;
}

.lhh_contact_map .lhh_contact1 .lhh_index_contact .lhh_contact_con li:nth-child(3) ul li a {
  display: block;
  font-size: 14px;
  color: #474646;
  font-family: "微软雅黑";
  line-height: 30px;
}

.lhh_contact_map .lhh_contact1 .lhh_index_contact .lhh_contact_con li:nth-child(3) ul li a:hover {
  color: #a02024;
}

/*# sourceMappingURL=index1.css.map */