@font-face {
  font-family: "iconfontCrumbs";
  src: url("/public/fonts/iconfontCrumbs.woff"); }

.container {
  width: 1200px;
  margin: 0 auto; }

.container:after {
  content: "";
  height: 0;
  display: block;
  clear: both; }

.contentLeft {
  width: 270px;
  float: left; }
  .contentLeft .header {
    height: 65px;
    background: url("/public/images/line_dashed.png") center bottom no-repeat; }
    .contentLeft .header .header_img {
      display: inline-block;
      position: relative;
      top: -3px;
      margin-right: 18px;
      float: left; }
  .contentLeft .category {
    display: inline-block;
    color: #2a2a2a;
    float: left; }
    .contentLeft .category > h5 {
      font-size: 20px;
      color: inherit;
      line-height: 1em; }
    .contentLeft .category > h6 {
      font-size: 18px;
      color: inherit;
      font-family: "SanFranciscoDisplay-Regular";
      line-height: 30px; }
  .contentLeft .sideNav {
    width: 100%; }
  .contentLeft .sideNav_list {
    margin-top: 27px;
    border: 1px solid #a02024;
    padding-bottom: 196px;
    position: relative; }
    .contentLeft .sideNav_list .inner {
      padding: 6px 30px 0; }
    .contentLeft .sideNav_list .item_sideNav a {
      color: #2a2a2a;
      transition: color .5s ease; }
      .contentLeft .sideNav_list .item_sideNav a:hover {
        color: #a02024; }
    .contentLeft .sideNav_list .item_sideNav {
      border-bottom: 1px dashed #808080;
      padding: 12px 0 12px 23px;
      position: relative; }
      .contentLeft .sideNav_list .item_sideNav h5 {
        font-size: 18px;
        line-height: 24px; }
      .contentLeft .sideNav_list .item_sideNav h6 {
        font-size: 16px;
        font-family: "SanFranciscoDisplay-Bold";
        font-weight: bold;
        line-height: 18px; }
      .contentLeft .sideNav_list .item_sideNav .arrow {
        width: 0;
        height: 0;
        border-top: 6px solid #fff;
        border-bottom: 6px solid #fff;
        border-left: 9px solid #a02024;
        border-right: 0px solid #fff;
        position: absolute;
        top: 0;
        bottom: 0;
        right: -5px;
        margin: auto 0;
        cursor: pointer;
        display: none; }
    .contentLeft .sideNav_list .item_sideNav.active a {
      color: #a02024; }
    .contentLeft .sideNav_list .item_sideNav.active .arrow {
      display: block; }
    .contentLeft .sideNav_list > img {
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0; }
  .contentLeft .recommend {
    margin-top: 66px; }
    .contentLeft .recommend .content {
      border: 1px solid #a02024;
      margin-top: 26px; }
    .contentLeft .recommend .img_recommend {
      width: 100%; }
    .contentLeft .recommend .information {
      padding: 16px 20px 24px;
      color: #2a2a2a; }
      .contentLeft .recommend .information > h5 {
        font-size: 18px;
        line-height: 45px;
        font-weight: bold;
        border-bottom: 1px dashed #000; }
      .contentLeft .recommend .information > h6 {
        font-size: 16px;
        line-height: 23px;
        margin-top: 12px;
        font-family: "SanFranciscoDisplay-Regular"; }

.crumbs {
  padding: 12px 0;
  margin-top: 24px;
  margin-bottom: 50px; }
  .crumbs li {
    display: inline-block;
    color: #bbb;
    font-size: 14px;
    line-height: 14px;
    transition: color .5s ease; }
    .crumbs li .icon_crumbs {
      font-family: "iconfontCrumbs";
      margin-right: 2px; }
    .crumbs li .arrow {
      font-family: "iconfontCrumbs";
      padding: 0 1px; }
    .crumbs li a {
      color: inherit; }
  .crumbs li.current, .crumbs li:hover {
    color: #2a2a2a; }

.contentRight {
  width: 850px;
  float:right}

.zzt_protectbigbox {
  width: 850px;
  height: 2328px;
  background: #fff; }

.zzt_protectbox {
  width: 100%;
  height: 729px;
  /*background:yellow;*/
  border-bottom: 1px solid #a3a3a3;
  box-sizing: border-box;
  float: left;
  margin-top: 71px; }

.zzt_protectbox:nth-child(1) {
  float: left;
  margin-top: 0px; }

.zzt_titlebox {
  width: auto;
  height: 44px;
  /*background:green;*/
  font-size: 30px;
  color: #2a2a2a;
  line-height: 44px; }

.zzt_borderbox {
  width: 463px;
  height: 1px;
  box-sizing: border-box;
  border: 1px dashed #404040; }

.zzt_details {
  width: 100%;
  height: 11px;
  /*background:pink;*/
  float: left;
  margin-top: 18px; }

.zzt_timebox {
  width: 96px;
  height: 100%;
  /*background:blue;*/
  float: left; }

.zzt_timebox img {
  float: left;
  margin-top: 0px; }

.zzt_time {
  width: 79px;
  height: 100%;
  float: left;
  margin-left: 6px;
  /*background:palegreen;*/
  font-size: 14px;
  line-height: 11px;
  color: #2a2a2a; }

.zzt_writerbox {
  width: 154px;
  height: 100%;
  float: left;
  /*background:green;*/ }

.zzt_writerbox img {
  float: left;
  margin-top: 0px; }

.zzt_writer {
  width: 135px;
  height: 100%;
  /*background:palegoldenrod;*/
  float: left;
  margin-left: 8px;
  font-size: 14px;
  line-height: 11px;
  color: #2a2a2a; }

.zzt_picturebox {
  width: 701px;
  height: 437px;
  background: #eeeeee;
  float: left;
  margin-top: 13px; }

.zzt_picturebox img {
  width: 701px;
  height: 437px; }

.zzt_introducebox {
  width: 100%;
  height: 65px;
  /*background:blueviolet;*/
  float: left;
  margin-top: 35px;
  font-size: 16px;
  color: #2a2a2a; }

.zzt_morebox {
  display: block;
  width: 74px;
  height: 25px;
  border: 1px solid #a3a3a3;
  box-sizing: border-box;
  border-radius: 12px;
  float: left;
  margin-top: 31px; }

.zzt_more {
  width: 27px;
  height: 4px;
  float: left;
  margin-left: 23px;
  margin-top: 10px; }

.zztmore {
  width: 4px;
  height: 4px;
  background: #a5a5a5;
  border-radius: 50%;
  float: left;
  margin-left: 4px; }

/*# sourceMappingURL=list_hlj.css.map */