#lx_banner {
  width: 100%;
  height: 450px;
  overflow: hidden;
  background: #eeeeee; }
#lx_banner .Lx_banners {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0 auto; }
#lx_banner .Lx_banners:hover .prev {
  display: block; }
#lx_banner .Lx_banners:hover .next {
  display: block; }
#lx_banner .Lx_banners .Lx_content {
  width: 100%;
  height: 100%;
  position: relative; }
#lx_banner .Lx_banners .Lx_content li {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  background-size: contain;
  background-repeat: no-repeat;
  transition: all 0.8s ease; }
#lx_banner .Lx_banners .Btnbox {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  text-align: center; }
#lx_banner .Lx_banners .Btnbox .Lx_btn {
  display: inline-block;
  width: auto;
  height: 40px;
  margin: 0 auto;
  bottom: 20px; }
#lx_banner .Lx_banners .Btnbox .Lx_btn li {
  width: 15px;
  height: 15px;
  background: #c8cdca;
  border-radius: 50%;
  margin: auto 5px;
  float: left;
  cursor: pointer; }
#lx_banner .Lx_banners .Btnbox .Lx_btn .active {
  background: darkred;
  color: #fff; }
#lx_banner .Lx_banners .next {
  width: 20px;
  height: 40px;
  background: url("../images/bofang_09.png") no-repeat center center;
  position: absolute;
  background-size: contain;
  top: 0;
  bottom: 0;
  right: 50px;
  margin: auto 0;
  color: #ffffff;
  font-size: 24px;
  cursor: pointer;
    opacity:0.5;
  display: none;
  transition: all 20s ease; }
#lx_banner .Lx_banners .prev {
  width: 20px;
  height: 40px;
  background: url("../images/bofang_07.png") no-repeat left center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50px;
  margin: auto 0;
  color: #ffffff;
  font-size: 24px;
  cursor: pointer;
  opacity:0.5;
  display: none;
  transition: all 20s ease; }