@charset "UTF-8";

@font-face {
  font-family: 'iconfont';
  src: url('../fonts/iconfont.woff');
}
.iconfont{
  font-family:"iconfont" !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.zq_product_list {
  float: right;
  width: 882px;
  min-height: 600px; }

.zq_product_box {
  float: left;
  margin: 11px;
  margin-bottom: 20px;
  width: 272px;
  height: 462px; }
  .zq_product_box .zq_product_show {
    position: relative;
    float: left;
    margin: 10px;
    width: 252px;
    height: 442px;
    border: 1px solid #cdcdcd;
    overflow: hidden; }
  .zq_product_box:hover {
    background: #eeeeee; }
    .zq_product_box:hover .zq_product_show {
      border: 1px solid rgba(205, 205, 205, 0); }
    .zq_product_box:hover .zq_intro_chinese {
      display: block; }

.zq_product_img {
  position: relative;
  width: 100%;
  height: 388px; }
  .zq_product_img img {
    width: 250px; }
  .zq_product_img .zq_intro_chinese {
    position: absolute;
    top: 60px;
    right: 95px;
    width: 28px;
    min-height: 50px;
    font-size: 18px;
    color: #a02024;
    display: none; }
  .zq_product_img .zq_intro_english {
    position: absolute;
    top: 100px;
    right: 0;
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    /* Internet Explorer 9*/
    -moz-transform: rotate(90deg);
    /* Firefox */
    -webkit-transform: rotate(90deg);
    /* Safari 和 Chrome */
    -o-transform: rotate(90deg); }
  .zq_product_img .zq_intro_namebox {
    position: absolute;
    top: 30px;
    right: 20px;
    width: 40px;
    min-height: 50px; }
    .zq_product_img .zq_intro_namebox .zq_intro_name {
      width: 20px;
      min-height: 20px;
      font-size: 18px; }
    .zq_product_img .zq_intro_namebox .zq_intro_logo {
      margin-top: 6px;
      width: 100%;
      height: 16px; }
      .zq_product_img .zq_intro_namebox .zq_intro_logo img {
        margin-right: 5px;
        float: right;
        width: 15px;
        height: 15px; }

.zq_product_detail {
  width: 224px;
  height: 52px;
  border-top: 1px solid #cdcdcd;
  margin: 0 auto; }
  .zq_product_detail .zq_product_guide {
    float: left;
    width: 50%;
    height: 100%;
    text-align: center;
    line-height: 52px;
    font-size: 18px;
    color: #000; }
    .zq_product_detail .zq_product_guide a {
      font-size: 18px;
      color: #000; }
    .zq_product_detail .zq_product_guide:hover a {
      color: #a02024; }
  .zq_product_detail .zq_product_price {
    color: #a02024; }
